@import "settings";
@import "foundation";

/****************************
* Gobals
****************************/

@import url(http://fonts.googleapis.com/css?family=Raleway:400,,800,900);
html{
  width:100%;
  height: 100%;
}
body{
  background: -webkit-linear-gradient(rgb(235, 236, 231), rgb(255, 255, 255));
  background: linear-gradient(rgb(235, 236, 231), rgb(255, 255, 255));
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Raleway', sans-serif;
}

/****************************
* END Gobals
****************************/

/****************************
* Mixins
****************************/

@mixin center(){
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
    left:50%;
    top:50%;
}

/****************************
* END Mixins
****************************/

/****************************
*  Header
****************************/


header .container{
  position:absolute;
  @include center();
}

header .title{
  font-weight: 800;
  color: transparent;
  font-size:120px;
  background: url("http://phandroid.s3.amazonaws.com/wp-content/uploads/2014/05/rainbow-nebula.jpg") repeat;
  background-position: 40% 50%;
  -webkit-background-clip: text;
  position:relative;
  text-align:center;
  line-height:90px;
  letter-spacing: -8px;
}
header .subtitle{
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding-top:10px;
}

/****************************
*  END Header
****************************/